@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body{
    height: 100vh;
    font-family: nunito;
}
#header{
    width: 100%;
}
.tit-1{    
    margin-top: 150px;
}
.sec-email{
    width: 400px;
    text-align: center;
}
#email{
    border-radius: 5px;
    border: 1px black solid;
    width: 300px;
    display: inline;
}
#submit{
    display:inline-block;
    border-radius: 5px;
    border: 0;
    background-color: #C3922E;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    width: 80px;
}
.seccion{
    margin: 60px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.embed-video{ 
    height: 315px;
    width: 560px;
    border-radius: 10px;
}
.tit-productos{
    width: 100%;
    text-align: center;
}
.cards{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 100%;
    align-items: center;
    justify-content: center;    
    border: 0;
}
.card img{
    width: 300px;    
    box-sizing: border-box;
    margin: 10px;
}
.card img:hover{
    box-shadow: 2px 2px 2px 2px teal;
}


/*-----------------------------Medias Query----------------------------*/
@media only screen and (max-width: 800px) {
    .logo{
        width: 60px;
    }
    .cards{        
        display: inline-block;
    }
    .card{
        width: 100%;
    }
    .tit-1{
        margin-top: 110px;
    }
    .seccion{
        margin-top: 10px;
    }    
    #submit{
        display:inline-block;
        border-radius: 5px;
        margin: 5px;
        width: 80px;
    }
    .embed-video{
        width: 360px;
        height: 201.6px;
    }


  }
@media only screen and (max-width: 400px) {
    body{
        font-size: 10px;
    }
    .logo{
        width: 50px;
    }
    .cards{        
        display: inline-block;
    }
    .card{
        width: 100%;
    }
    .embed-video{
        width: 300px;
        height: 168px;
    }

  }